
@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
}

@media screen and (max-width: 780px){
    header .container{
        display: flex;
        flex-direction: column;  
        margin: 10px 0px;    
    }
}
@media screen and (max-width: 600px){
    .descricao{
        font-size: 90%;
    }
    .filme-principal{
        font-size: 16px;
    
        background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.jpg');
        height: 500px;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .botao{
        font-size: 70%;
        display: flex;
        margin-bottom: 10px;
    }    
}